mkdocs==1.4.2
mkdocs-material==8.5.9
# as of 2022-11-18 there are a few things in the 'mike' package that we want but they aren't
# released yet. once mike has released 2.0.0 we can switch to that.
-e git+https://github.com/jimporter/mike.git@c23d74d75f91fb3ca10ad509d738cc152d146425#egg=mike
